@import "tailwindcss";

:root {
  --background: #ebebeb;
  --foreground: #000000;
  --primary: #ffffff;
  --secondary: #e0e0e0;
  --project: #ffffff;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  --font-safe: "SANSAFE", sans-serif;
  --font-space: "SANSPACE", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-project: var(--project);
  --font-sansafe: var(--font-safe);
  --font-sanspace: var(--font-space);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1d;
    --foreground: #ffffff;
    --primary: #171717;
    --secondary: #252525;
    --project: #000000;
  }
}

@font-face {
  font-family: "SANSAFE";
  src: url("/fonts/SANSAFE-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SANSPACE";
  src: url("/fonts/SANSPACE-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
