@import "tailwindcss";

:root {
  --background: #ebebeb;
  --foreground: #000000;
  --primary: #ffffff;
  --secondary: #e0e0e0;
  --project: #ffffff;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  --font-brush: "brush-script-std", sans-serif;
  --font-safe: "SANSAFE", sans-serif;
  --font-space: "SANSPACE", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-project: var(--project);
  --font-mono: var(--font-mono);
  --font-brush: var(--font-brush);
  --font-sansafe: var(--font-safe);
  --font-sanspace: var(--font-space);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1d;
    --foreground: #ffffff;
    --primary: #171717;
    --secondary: #252525;
    --project: #000000;
  }
}

.brush {
  font-family: "brush-script-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}
