@import "tailwindcss";

:root {
  --background: #d1d0c9;
  --foreground: #20201e;
  --primary: #f1f0ea;
  --secondary: #dddbd5;
  --project: #f1f0ea;
  --accent-primary: #ffec82;
  --accent-secondary: #8c8347;
  --secondary-text: #686868;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  --font-brush: "brush-script-std", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-project: var(--project);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
  --color-secondary-text: var(--secondary-text);
  --font-mono: var(--font-mono);
  --font-brush: var(--font-brush);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #30302e;
    --foreground: #f1f0e8;
    --primary: #181817;
    --secondary: #282826;
    --project: #181817;
    --accent-primary: #8c8347;
    --accent-secondary: #ffec82;
    --secondary-text: #aaaaaa;
  }
}

.brush {
  font-family: "brush-script-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}
